<div class="footer bg-dark text-light">
  <div class="row p-5">
    <div class="col-4">
      <div class="mb-3">
        <h5><strong>HELP</strong></h5>
      </div>
      <div>
        <p class="small no-font-space">Shipping</p>
        <p class="small no-font-space">Returns</p>
        <p class="small no-font-space">FAQs</p>
        <p class="small no-font-space">Privacy</p>
        <p class="small no-font-space">Influencers</p>
        <p class="small no-font-space">Wholesale</p>
        <p class="small no-font-space">Accesibility</p>
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <h5><strong>HELP</strong></h5>
      </div>
      <div>
        <p class="small no-font-space">Shipping</p>
        <p class="small no-font-space">Returns</p>
        <p class="small no-font-space">FAQs</p>
        <p class="small no-font-space">Privacy</p>
        <p class="small no-font-space">Influencers</p>
        <p class="small no-font-space">Wholesale</p>
        <p class="small no-font-space">Accesibility</p>
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <h5><strong>CONTACT US</strong></h5>
      </div>
      <div>
        <p class="small no-font-space">andrei24constantin@gmail.com <strong>|</strong> +40737046167</p>
        <p class="small no-font-space my-3">7am -4pm <strong>|</strong> Monday - Friday</p>
        <div class="d-flex justify-content-between">
          <input type="text" class="form-control bg-dark text-light"/>
          <button class="btn btn-light">JOIN THE TEAM</button>
        </div>
      </div>
    </div>
  </div>
</div>
