<ewt-loading [isLoading]="isLoading"></ewt-loading>

<div *ngIf="!isLoading">
  <div class="p-1">
    <div *ngIf="!products.length" class="text-center my-3">
      <hr class="hr-legal"/>
      <strong>There are no products available.</strong>
      <hr class="hr-legal"/>
    </div>

    <div class="row my-3" *ngIf="products.length">
      <div class="col-md-3 col-6 mb-4" *ngFor="let product of products">
        <div class="card h-100 hover-product shadow">
            <img [src]="getFirstImage(product.productVariants[0].sku)"
                 [alt]="product.name"
                 class="cursor-pointer fade-transition"
                 style="width: 100%; height: 200px"
                 (click)="goToView(product.id)"
                 (mouseover)="onHover(product)"
                 (mouseout)="onMouseLeave()">
          <div class="p-2">
            <div>
              <h4 class="card-title mt-2 cursor-pointer" (click)="goToView(product.id)">{{product.name}}</h4>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <p class="no-font-space">In stock</p>
                <p class="no-font-space text-danger">{{product.productVariants[0].price}} €</p>
              </div>
            </div>
          </div>
          <div class="p-2">
            <button class="btn btn-sm btn-primary w-100 shadow" (click)="addToCart(product)">
              <fa-icon icon="cart-shopping" [fixedWidth]="true"></fa-icon>
              Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center mt-3">
      <div>
        <jhi-item-count
          [params]="{ page: currentPage, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>
      <div>
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="currentPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="fetchProducts()"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
