<ewt-loading [isLoading]="isLoading"></ewt-loading>
<div class="card" *ngIf="!isLoading">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h4 class="card-title"><strong>Add product</strong></h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="productForm" (ngSubmit)="submitForm()">
      <div class="row">
        <div class="form-group">
          <label>Categories</label>
          <ng-select
            formControlName="categories"
            class="mb-3"
            [items]="categoriesOption"
            bindLabel="name"
            bindValue="id"
            notFoundText="No results"
            loadingText="Loading..."
            placeholder="Select product categories"
            [multiple]="true"
          >
          </ng-select>

          <label>Product Name</label>
          <input type="text" formControlName="name"
                 class="form-control"/>

          <label>Product Description</label>
          <textarea formControlName="description"
                    class="form-control"></textarea>

          <label for="attributes">Attributes</label>
          <ng-select
            id="attributes"
            [items]="attributesOption"
            formControlName="attributes"
            bindLabel="name"
            notFoundText="No results"
            loadingText="Loading..."
            placeholder="Select attributes"
            [multiple]="true"
            class="mb-3"
          ></ng-select>

          <strong>Product Variants</strong>
          <div class="border p-3 my-3" formArrayName="variants"
               *ngFor="let variant of variants.controls; let variantIndex = index" [class.ng-invalid]="false">
            <p>Variant {{variantIndex + 1}}</p>
            <hr class="hr-legal"/>
            <div [formGroupName]="variantIndex" [class.ng-invalid]="false">

              <label for="price">Price</label>
              <input id="price" type="number" formControlName="price" class="form-control"/>

              <label for="stock">Stock</label>
              <input id="stock" type="number" formControlName="stock" class="form-control mb-3"/>

              <strong>Product attributes</strong>
              <div class="border p-3">
                <div *ngIf="!selectedAttributes.length">
                  <p class="d-flex justify-content-center text-danger">Please select attributes to choose their
                    corresponding values.</p>
                </div>
                <div *ngFor="let selectedAttribute of selectedAttributes; let attributeIndex = index">
                  <label>{{ selectedAttribute.name }}</label>
                  <ng-select
                    [id]="'attributeValue-' + variantIndex + '-' + attributeIndex"
                    [items]="attributeValuesOptions.get(selectedAttribute.id) ?? []"
                    bindLabel="value"
                    notFoundText="Could not find attribute values"
                    loadingText="Loading..."
                    placeholder="Select value"
                    (change)="onAttributeValueSelectionChange($event, variantIndex, attributeIndex)"
                    [formControl]="getAttributeValueControl(variantIndex, attributeIndex)">
                  </ng-select>
                </div>

              </div>
              <div class="file-drop" (dragover)="onImageDragOver($event)" (drop)="onImageDrop($event)">
                <p>
                  <fa-icon icon="cloud-upload-alt"></fa-icon>
                  <span>Drag and drop pictures here, or use the</span>
                  <a (click)="imageInput.click()">link</a>
                  <input #imageInput type="file" accept="image/*" style="display: none;" multiple
                         (change)="onFilesSelected($event)"/>
                </p>
              </div>

              <div class="file-preview-container" cdkDropList (cdkDropListDropped)="onDrop($event)">
                <div class="image-container" *ngFor="let img of images; let i = index" cdkDrag>
                  <div *cdkDragPlaceholder class="image-placeholder"></div>
                  <span class="sequence-label">{{i + 1}}</span>
                  <span class="remove-image-btn" (click)="removeImage(i)">&times;</span>
                  <img [src]="img" alt="Preview" height="100" width="100">
                </div>
              </div>

            </div>
          </div>
          <button type="button" class="btn btn-secondary" (click)="addVariant()">
            <fa-icon icon="plus" [fixedWidth]="true"></fa-icon>
          </button>
          <button type="button" class="btn btn-secondary" (click)="removeVariant()">
            <fa-icon icon="minus" [fixedWidth]="true"></fa-icon>
          </button>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger me-3" routerLink="/store-admin/products">Cancel</button>
        <button type="submit" class="btn btn-primary">Add product</button>
      </div>
    </form>
  </div>
</div>
