<div class="modal-header">
  <h4 class="modal-title">Ask A Question</h4>
  <button type="button" class="btn btn-sm btn-outline-dark" aria-label="Close" (click)="closeModal()">
    <fa-icon icon="xmark" [fixedWidth]="true"></fa-icon>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="questionForm">
    <div class="mb-2">
      <label for="question">Question</label>
      <textarea id="question" class="form-control" placeholder="Your question.." formControlName="question"></textarea>
    </div>
    <div class="mb-2">
      <label for="firstName">First Name</label>
      <input id="firstName" type="text" class="form-control" placeholder="John.."
             formControlName="firstName"/>
    </div>
    <div class="mb-2">
      <label for="lastName">Last Name</label>
      <input id="lastName" type="text" class="form-control" placeholder="Doe.."
             formControlName="lastName"/>
    </div>
    <div class="mb-2">
      <label for="email">Email</label>
      <input id="email" type="email" class="form-control" placeholder="john.doe@gmail.com.."
             formControlName="email"/>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-dark" (click)="submitQuestion()" [disabled]="questionForm.invalid">
    POST
  </button>
</div>
