.file-preview-container div {
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: box-shadow 0.3s;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
}

.file-preview-container div:hover {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}

.sequence-label {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 3px 10px;
  border-radius: 50%;
  font-size: 14px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Add a z-index to ensure the label stays on top */
}

img {
  border-radius: 6px;
  transition: transform 0.3s, opacity 0.3s;
  z-index: 1; /* Set a lower z-index for the image */
}

.file-preview-container div:hover img {
  transform: scale(1.05);
  opacity: 0.9; /* Add a slight fade to the image to make the number more visible */
}

.remove-image-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 0, 0, 0.8); /* Red background */
  color: white;
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 16px; /* Slightly larger font size */
  z-index: 3; /* Higher z-index to make sure it's on top */
  display: none; /* Initially hidden */
}

.image-container:hover .remove-image-btn {
  display: block; /* Show on hover */
}

.image-placeholder {
  width: 100px;
  height: 100px;
  border: dashed 2px gray;
}
